<!-- About Start -->
<div class="container-xxl py-5 hero-header bg-dark py-5 mb-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/about.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6 mb-3 animated slideInDown text-light">Acerca de nosotros</h1>
                    <p class="text-primary fs-6 mb-4 text-light">La plataforma más confiable de la información de tus peliculas favoritas</p>
                    <p class="text-secundary fs-6 mb-4 text-light">Nos especializamos en ofrecer una amplia base de datos de películas pasadas, proporcionando a los entusiastas del 
                        cine y a los investigadores acceso a información detallada sobre producciones cinematográficas históricas.
                         Desde clásicos icónicos hasta gemas olvidadas, DataMovies se compromete a preservar y compartir el legado 
                         del cine a lo largo del tiempo.
                    </p>
                    
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-danger text-white btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span class="text-white">Base de Datos Exhaustiva</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-danger text-white btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span class="text-white">Información Detallada</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-danger text-white btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span class="text-white">Exploración Interactiva</span>
                    </div>
                    <a class="btn btn-primary py-3 px-4 animated slideInDown btn-danger" href="">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl hero-header bg-dark py-5 mb-5">
    <div class="container text-center">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4 fs-2">Nuestro Equipo</p>
        </div>
        <div class="row g-4 justify-content-center align-items-center">
            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets\img\Luis.jpg" alt="">
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase text-light">Luis Litardo</h5>
                        <span class="text-primary">Desarrollador</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets\img\Pedro.jpg" alt="">
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase text-light">Pedro Luna</h5>
                        <span class="text-primary">Diseñador</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="assets\img\Kevin.jpg" alt="">
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase text-light">Kevin Ibarra</h5>
                        <span class="text-primary">Analista</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->