.accordion-button{
    background-color:#ffffff;
    color: #000;
}

.accordion .accordion-button:not(.collapsed) {
    background-color:#dc3545;
    
}

.bg-secondary {
    background-color: #28272f !important;
}
.text-primary {
    color: #eb1616!important;
}
#collapseOne{
    background-color:#000000;
    color: #000;
}

#p{
    color:#ffffff;
}