<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/about.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">Acerca de nosotros</h1>
                    <p class="text-primary fs-6 mb-4">La plataforma más confiable de la información de tus peliculas favoritas</p>
                    <p>Nos especializamos en ofrecer una amplia base de datos de películas pasadas, proporcionando a los entusiastas del 
                        cine y a los investigadores acceso a información detallada sobre producciones cinematográficas históricas.
                         Desde clásicos icónicos hasta gemas olvidadas, DataMovies se compromete a preservar y compartir el legado 
                         del cine a lo largo del tiempo.
                    </p>

                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Base de Datos Exhaustiva</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Información Detallada</span>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Exploración Interactiva</span>
                    </div>
                    <a class="btn btn-primary py-3 px-4" href="">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->