<!-- Header Start -->
<div class="container-fluid hero-header bg-dark py-5 mb-5">
    <div class="container py-5 text-light">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown text-light">Explorando el Universo Cinematográfico a Través de
                    Estadísticas</h1>
                <p class="animated slideInDown">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
                    diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                    magna dolore erat amet</p>
                <a href="" class="btn btn-primary py-3 px-4 animated slideInDown btn-danger">Explore More</a>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;"
                    src="assets/img/peliculas.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Facts Start -->
<div class="container-fluid hero-header bg-dark py-5 mb-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 text-danger">Tabla de Películas</h1>
            <p class="text-light fs-5 mb-5">Encuentra películas por imbd_id, título, tipo y género.</p>
            <section id="newsletter" class="bg-gray padding-xlarge">
                <div class="container">
                  <div class="newsletter">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 title">
                        <h3 class="text-danger">Buscador de películas</h3>
                      </div>
                      <div class="col-lg-12 col-md-12 d-flex align-items-center">
                        <div class="d-flex w-100 border-bottom border-dark py-2">
                          <input
                            id="newsletter1"
                            type="text"
                            class="form-control border-0 p-0"
                            placeholder="Título,Imbd_id, tipo o género de la película."
                          />
                          <button class="btn border-2 btn-danger" type="button">Buscar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>

        <div class="row g-5">
            <!-- Tabla con datos -->
            <table border="1" cellspacing="10px" cellpadding="10px" class="text-light">
                <tbody>
                    <th>IMDB_ID</th>
                    <th>TITLE</th>
                    <th>TYPE</th>
                    <th>RELEASE_YEAR</th>
                    <th>AGE_CERTIFICATION</th>
                    <th>RUNTIME</th>
                    <th>GENRES</th>
                    <th>SEASONS</th>
                    <th>IMDB_SCORE</th>
                    <th>IMDB_VOTES</th>
                    @for (datum of data; track datum.imdb_id) {
                    <tr>
                        <td> {{ datum.imdb_id}} </td>
                        <td> {{ datum.title}} </td>
                        <td> {{ datum.type}} </td>
                        <td> {{ datum.release_year}} </td>
                        <td> {{ datum.age_certification }} </td>
                        <td> {{ datum.runtime}} </td>
                        <td> {{ datum.genres}} </td>
                        <td> {{ datum.seasons}} </td>
                        <td> {{ datum.imdb_score}} </td>
                        <td> {{ datum.imdb_votes}} </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="4" class="text-center">Aún no hay datos</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Facts End -->


<!-- Aqui van los graficos -->

<!-- Aqui van los graficos -->


<!-- FAQs Start -->
<div class="container-fluid hero-header bg-dark py-5 mb-5 text-light">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">FAQs</h1>
            <p class="text-danger fs-5 mb-5">Frequently Asked Questions</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How to build a website?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show btn-danger" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long will it take to get a new website?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Do you only create HTML websites?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Will my website be mobile-friendly?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Will you maintain my site for me?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Will you maintain my site for me?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs Start -->
